FINKITA_SERVICE_URL=http://localhost:8080
FINKITA_SERVICE_PORT=8080
FINKITA_SERVICE_API_KEY=secretkey
DB_URL=localhost
DB_PORT=5432
DB_PASSWORD=ultrasecretpassword
SELENIUM_SERVICE_URL=http://localhost
SELENIUM_SERVICE_PORT=4444
