FINKITA_SERVICE_URL=http://localhost:8080
FINKITA_SERVICE_PORT=8080
FINKITA_SERVICE_API_KEY=secretkey
SERVICE_NAME=finkita-service
SERVICE_PORT=8080
DB_URL=localhost
DB_PORT=5432
DB_PASSWORD=ultrasecretpassword
PG_HOST=localhost
PG_PORT=5432
PG_USERNAME=test
PG_PASSWORD=test
PG_DATABASE=finkita-service
SELENIUM_SERVICE_URL=http://localhost
SELENIUM_SERVICE_PORT=4444
ACCOUNT_ENC_KEY=32BytesLongStringWouldDoTheJobOK
